/* for hidden elements */

.top-header ul, .banner-form, .stylish-axure-wrapper {
  display: none;
}

/* header css begins */

.fixed-width {
  max-width: 69.25em;
  margin: 0 10px;
}

.top-bottom-gap {
  padding-top: 9.476534%;
  padding-bottom: 9.476534%;
}

.top-header {
  line-height: 70px;
}

.top-header h1 {
  float: left;
}

.drop-down-burger-menu {
  float: right;
  width: 35px;
  margin-top: 10px;
}

.top-header ul {
  float: right;
}

.top-header ul li {
  float: left;
}

.top-header a {
  color: #b0b0b0;
}

/* header css ends */

/* top banner css begins */
.banner-wrapper {
  display: block;
}

.banner-wrapper-relative {
  position: relative;
}

.banner-wrapper-relative .banner {
  position: absolute;
  /* top: 14.245487%; */
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-text {
  width: 100%;
}

.banner-text .banner-logo {
  width: 20%;
}

.banner-text .title {
  margin-top: 2.317689%;
}

.banner-text .description {
  display: none;
}

.banner-text .btn .btn-transparent {
  margin-top: 5.122274%;
}

/* banner css ends */

/* Social Media starts */

.social-media-wrapper, .sublist-wrapper, .customers-say-wrapper, .contact-us-wrapper {
  background-color: #fff;
}

.social-media-text {
  display: none;
}

.social-media ul {
  width: 90%;
  margin: auto;
  line-height: 7.220216%;
}

.social-media ul li {
  width: 7%;
  float: left;
  margin-left: 6.857971%;
}

.social-media ul li:hover {
  border: 1px solid black;
}

/* Social Media ends */

/* Tabs starts */

.tabs-wrapper, .standard-picture-wrapper, .pricing-option-wrapper {
  background-color: #f5f5f5;
}

.tabs ul {
  width: 100%;
  margin-top: 15px;
}

.tabs ul li {
  text-align: center;
  float: left;
  width: 32.333333%;
  line-height: 50px;
  background-color: #333333;
  margin-left: 1px;
}

.tabs ul li.active, .tabs ul li:hover {
  background-color: #ff8b38;
}

.tabs ul li:first-child {
  border-radius: 5px 0 0 5px;
}

.tabs ul li:last-child {
  border-radius: 0 5px 5px 0;
}

.tabs ul li a {
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
}

.tabs .tab-description-wrapper {
  width: 100%;
}

.tab-description-wrapper .tab-description-text {
  width: 100%;
}

.tab-description-text .tab-description-title {
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.tab-description-text .tab-description-body p {
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 25px;
}

.tab-image.mobile {
  display: block;
  width: 100%;
}

.tab-image.mobile img {
  margin-top: 20px;
}

.tab-image {
  display: none;
}

.tab-description-text .btn .btn-filled {
  display: inline-block;
  text-align: center;
  background: #ff8b38;
  border-radius: 5px;
}

.tab-description-text .btn .btn-filled a {
  display: inline-block;
  color: #fff;
  padding: 0 30px;
  line-height: 45px;
}

/* Tabs style Ends */

/* sublist section style starts */

.sublist-image, .standard-picture-image {
  width: 100%;
}

.sublist-detail {
  width: 100%;
}

.sublist-title, .standard-picture-title {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.sublist-title::after, .standard-picture-title::after {
  content: "";
  display: block;
  border-bottom: 2px #ff8b38 solid;
  width: 20%;
  margin-top: 2.123456%;
  margin-bottom: 2.123456%;
}

.sublist-detail p, .standard-picture-details p {
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 25px;
}

.sublist-info-wrapper {
  margin-top: 20px;
  width: 100%;
}

.sublist-info {
  width: 100%;
}

.sublist-info .image {
  width: 10%;
  padding: 10px;
  margin-top: 8px;
  float: left;
}

.sublist-info .image img {
  width: 100%;
}

.sublist-info .info {
  width: 75%;
  float: right;
  margin-top: 15px;
}

.sublist-info-title {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.sublist-info-detail {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 15px;
}

/* sublist section style ends */

/* why we awesome style starts */

.this-awesome-title, .pricing-option-title, .customers-say-title, .contact-us-title {
  display: block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.this-awesome-title::after, .pricing-option-title::after, .customers-say-title::after, .contact-us-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 2px #ff8b38 solid;
  width: 20%;
  margin-top: 2.123456%;
  margin-bottom: 2.123456%;
}

.this-awesome-subtitle, .pricing-option-subtitle, .customers-say-subtitle, .contact-us-subtitle {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.this-awesome-bottom-display {
  width: 100%;
  margin-top: 7.220216%;
}

.this-awesome-bottom-display .image {
  margin: 0 auto;
  width: 20%;
}

.this-awesome-bottom-display .topic {
  display: block;
  text-align: center;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
}

.this-awesome-bottom-display p {
  text-align: center;
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  margin-top: 20px;
}

/* why we awesome style ends */

/* pricing option styles */

.prices-wrapper {
  margin-top: 7.220216%;
  margin-right: 6px;
  margin-left: 7px;
}

.prices .topic {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  background-color: #333;
  color: #fff;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.amount {
  display: block;
  text-align: center;
  background-color: #333;
  color: #fff;
}

.amount .dollar {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.amount .figure {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 94px;
}

.membership {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  text-transform: capitalize;
  background-color: #333;
  color: #fff;
}

.extra {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
}

.prices-wrapper ul li {
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border-bottom: 1px #f5f5f5 solid;
  text-transform: uppercase;
}

/* pricing option styles ends */

/* customers say */

.customers-say-bottom {
  width: 90%;
  margin: 0 auto;
}

.customers-review-wrapper {
  margin-top: 10.054151%;
}

.customers-review {
  width: 100%;
  background-image: url("../assets/customer_say_bcg.png");
  background-repeat: no-repeat;
  height: 150px;
}

.customers-review p {
  padding: 15px;
  width: 250px;
}
.customer {
  width: 100%
}

.customer img {
  width: 25%;
  border-radius: 50%;
  float: left;
}

.customer-detail {
  float: right;
  width: 72%;
  margin-top: 12px;
}

.customer-detail .name {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}

.customer-detail .post {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 5px;
}

/* customers say end */

/* contact us */

.contact-us-form {
  display: inline-block;
  text-align: center;
  border: 2px #d6d6d6 solid;
  border-radius: 10px;
  margin-top: 10px;
}

.form-input-text input, .form-input-textarea textarea {
  width: 90%;
  border: none;
  border-bottom: 2px #d6d6d6 solid;
  color: #d6d6d6;
  background: transparent;
  padding: 5px 0;
  margin: 10px auto;
  resize: none;
  font-family: "Opensans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.submit-form input[type=submit] {
  border: none;
  background-color: #ff9b51;
  color: #fff;
  margin-bottom: 10px;
  line-height: 38px;
  border-radius: 5px;
  padding: 0 25px;
}

/* footer */

.footer {
  padding: 10px 0;
  text-align: center;
}

.footer, .footer a {
  color: #808080;
}

.copy-right {
  font-family: "Opensans", sans-serif;
  font-size: 8px;
  font-weight: 400;
}

@media (min-width: 600px) {
  .drop-down-burger-menu {
    display: none;
  }
  /* for display elements hidden in small devices */
  .banner-text .description {
    display: block;
    width: 94%;
    margin-top: 2.220216%;
  }
  .top-header ul {
    display: block;
  }
}

@media (min-width: 768px) {
  /* for hidden element */
  .btn-transparent.get-started {
    display: none;
  }
  .fixed-width {
    margin: 0 20px;
  }
  /* for show elements */
  .banner {
    top: 8.245487%;
  }
  .banner-form {
    display: block;
  }
  .banner-text .banner-logo {
    width: 32.490974%;
  }
  .banner-text .title {
    margin-top: 6.317689%;
  }
  .banner-text {
    width: 50%;
    float: left;
  }
  .banner-text .description {
    margin-top: 7.220216%;
  }
  .banner-text .btn .btn-transparent {
    margin-top: 8.122274%;
  }
  .banner-form {
    width: 50%;
    float: right;
  }
  .banner-form form {
    width: 64.981949%;
    text-align: center;
    margin-left: 31.711191%;
  }
  .banner-form .form-input {
    background: #fff;
    padding-bottom: 2.5%;
  }
  .form-input .input-field {
    border-bottom: 1px #c5c5c5 solid;
    width: 90%;
    margin: auto;
  }
  .banner-form input {
    width: 90%;
    margin-top: 10.531111%;
  }
  /* social media css starts */
  .social-media ul {
    width: 100%;
    margin-top: 5px;
  }
  .social-media-wrapper .social-media {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* social media css ends */
  /* Tabs starts */
  .tabs ul {
    width: 9.927797%;
    float: left;
    margin-top: 0;
  }
  .tabs ul li {
    text-align: center;
    float: left;
    width: 100%;
    line-height: 80px;
    margin-left: 0;
    margin-bottom: 1px;
  }
  .tabs ul li:first-child {
    border-radius: 5px 5px 0 0;
  }
  .tabs ul li:last-child {
    border-radius: 0 0 5px 5px;
  }
  .tabs ul li a {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .tabs .tab-description-wrapper {
    padding-top: 5px;
    float: right;
    width: 81.227436%;
  }
  .tab-description-wrapper .tab-description-text {
    width: 50.222222%;
    float: left;
  }
  .tab-description-text .tab-description-body {
    margin-top: 12.941176%;
  }
  .tab-image.mobile {
    display: none;
  }
  .tab-image {
    display: block;
    width: 33.555555%;
    float: right;
    margin-right: 16px;
  }
  .tab-image img {
    margin-top: 40%;
  }
  /* Tabs Ends */
  /* sublist section style starts */
  .sublist-image, .standard-picture-details {
    width: 47.155234%;
    float: left;
    margin-top: 7%;
  }
  .sublist-detail, .standard-picture-image {
    width: 47.155234%;
    float: right;
  }
  .sublist-title::after {
    width: 18%;
  }
  .sublist-info-wrapper {
    margin-top: 10px;
  }
  .sublist-info-detail {
    display: block;
    font-family: "Opensans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
  }
  /* sublist section style ends */
  .standard-picture-details {
    margin-top: 3%;
  }
  /* why we awesome style starts */
  .this-awesome-title {
    font-size: 36px;
  }
  .this-awesome-title::after {
    width: 10%;
  }
  .this-awesome-bottom-display {
    width: 33.333333%;
    float: left;
  }
  /* why we awesome style ends */
  /* pricing option styles */
  .prices-wrapper {
    width: 31.129963%;
    display: inline-block;
  }
  .pricing-option-title::after {
    width: 7%;
  }
  /* pricing option styles ends */
  /* customers say */
  .customers-say-bottom {
    width: 99%;
    margin: 0 auto;
  }
  .customers-review-wrapper {
    float: left;
    width: 32%;
    margin-left: 5px;
    margin-top: 5.054151%;
  }
  .customers-review {
    width: 100%;
  }
  .customers-say-title::after, .contact-us-title::after {
    width: 5%;
  }
  .customer {
    width: 100%;
    margin-left: 15px;
  }
  .customer img {
    width: 20%;
  }
  .customer-detail {
    float: right;
    width: 77%;
    margin-top: 12px;
  }
  /* stylish axure */
  .stylish-axure-wrapper {
    display: block;
  }
  .stylish-axure-relative {
    position: relative;
  }
  .stylish-axure-relative .stylish-axure {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 45%;
    transform: translate(-50%);
  }
  .stylish-axure-title {
    display: block;
    color: #fff;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 26px;
    /*36*/
    text-transform: uppercase;
  }
  .stylish-axure-title::after {
    content: "";
    display: block;
    border-bottom: 2px #fff solid;
    width: 10%;
    margin-top: 2.123456%;
    margin-bottom: 2.123456%;
    margin-left: 45%;
  }
  .stylish-axure-subtitle {
    display: block;
    color: #fff;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    /*16*/
  }
  .stylish-axure-btn {
    display: inline-block;
    margin-left: 43%;
    border: 2px white solid;
    margin-top: 2%/*10.123456%*/
    ;
    margin-bottom: 2.123456%;
  }
  .stylish-axure-btn a {
    display: inline-block;
    color: #fff;
    font-family: "Opensans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    padding: 0 20px;
  }
  .stylish-axure-btn:hover {
    background: #fff;
  }
  .stylish-axure-btn:hover a {
    color: #000;
  }
  /* contact us */
  .contact-us-form {
    border: none;
    width: 100%;
  }
  .form-input-text {
    width: 50%;
    float: left;
  }
  .form-input-textarea {
    width: 50%;
    float: right;
  }
  .form-input-textarea textarea {
    height: 113px;
  }
  .submit-form {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
  }
  .footer .social-media ul {
    width: 30%;
  }
}

@media (min-width: 1108px) {
  .fixed-width {
    margin: 0 auto;
  }
  .banner {
    top: 14.245487%;
    left: 13.370059%;
  }
  .banner-form form {
    float: right;
    font-size: 20px;
    margin-top: 11.270758%;
  }
  .banner-form .form-input {
    padding-bottom: 12.5%;
  }
  .form-input .input-field {
    width: 75%;
  }
  .banner-form input {
    margin-top: 14.531111%;
  }
  .input-field.password {
    margin-top: 11.111111%;
  }
  .submit input {
    margin-top: 0;
  }
  .social-media-text {
    display: block;
    width: 33.324909%;
    float: left;
  }
  .social-media ul {
    width: 60.819494%;
    float: right;
  }
  .footer .social-media ul {
    width: 30%;
    float: none;
  }
  .social-media ul li {
    float: left;
  }
  /* Tabs starts */
  .tabs ul li {
    line-height: 110px;
  }
  .tab-image img {
    margin-top: 20px;
  }
  /* tabs style ends */
  /* sublist section style starts */
  .sublist-image {
    width: 41.155234%;
    margin-top: 1%;
  }
  .sublist-detail {
    width: 37.454873%;
  }
  .sublist-title::after, .standard-picture-title::after {
    width: 15%;
  }
  .sublist-info-wrapper {
    margin-top: 10%;
  }
  .sublist-info-detail {
    display: block;
    font-family: "Opensans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
  }
  /* sublist section style ends */
  /* this awesome style */
  .this-awesome-title::after {
    width: 8%;
  }
  /* this awesome style ends */
  /* pricing option */
  .prices-wrapper {
    margin-right: 10px;
    margin-left: 11px;
  }
  .pricing-option-title::after {
    width: 5%;
  }
  /* customers say */
  .customers-say-bottom {
    margin-left: 6.67148%;
  }
  /* stylish axure */
  .stylish-axure-relative .stylish-axure {
    left: 50%;
  }
  .stylish-axure-title {
    font-size: 36px;
  }
  .stylish-axure-title::after {
    width: 5%;
    margin-left: 47%;
  }
  .stylish-axure-subtitle {
    font-size: 16px;
  }
  .stylish-axure-btn {
    display: inline-block;
    margin-left: 45%;
    margin-top: 5.123456%;
  }
  .copy-right {
    font-size: 10px;
  }
}