/* for hidden elements */

.fixed-width {
  margin: 0 10px;
}

.top-header ul, .stylish-axure-wrapper {
  display: none;
}

/* header style begins */

.header, .footer-wrapper {
  background-color: #000;
}

.top-header ul li, .dropdown-menu {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  width: 98px;
  text-align: center;
  text-transform: capitalize;
}

.top-header {
  line-height: 70px;
}

.top-header h1 {
  float: left;
}

.top-header ul {
  float: right;
}

.top-header ul li {
  float: left;
}

.top-header ul li a {
  color: #b0b0b0;
  padding: 70px 20px;
}

.top-header ul li a:hover {
  color: #000;
  background: #ff8b38;
}

.drop-down-burger-menu {
  float: right;
  height: 0;
}

.drop-down-burger-menu button {
  border: none;
  background: transparent;
  cursor: pointer;
  width: 40px;
}

.drop-down-burger-menu button svg {
  fill: #fff;
}

.dropdown-menu {
  width: 60%;
  display: none;
  position: fixed;
  height: 100%;
  right: 0;
  background: #000;
  z-index: 2;
  transition: width 1s;
  padding-right: 0;
}

.drop-down-burger-menu:hover .drop-down-svg {
  fill: #ff8b38;
}

.dropdown-menu button {
  color: #b0b0b0;
  background: transparent;
  border: none;
  font-weight: 700;
  float: left;
  margin: 10px;
  cursor: pointer;
}

.dropdown-menu button:hover {
  color: #ff8b38;
}

.dropdown-menu h1 {
  width: 30%;
  display: inline-block;
  margin-top: 12px;
}

.dropdown-menu ul {
  margin-top: 18%;
  text-align: center;
}

.dropdown-menu ul li {
  line-height: 24px;
  width: 100%;
  border-bottom: 1px solid #b5b5b5;
  padding: 5px 0;
}

.dropdown-menu ul li:first-child {
  border-top: 1px solid #b5b5b5;
}

.dropdown-menu ul li:hover {
  background: #ff8b38;
}

.dropdown-menu ul li a {
  padding: 0 35%;
  color: #b0b0b0;
}

.dropdown-menu ul li:hover a {
  color: #000;
}

/* header style ends */

/* top banner style begins */

.banner-wrapper {
  display: block;
}

.banner-wrapper-relative {
  position: relative;
}

.banner-wrapper-relative .banner {
  position: absolute;
  width: 94%;
  margin-left: -0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-text {
  width: 100%;
}

.banner-text h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
}

.banner-text .banner-logo {
  width: 20%;
}

.banner-text .title {
  margin-top: 5.122274%;
}

.banner-text .title::after {
  content: "";
  display: block;
  border-bottom: 1px white solid;
  width: 12.552346%;
  height: 2px;
  margin-top: 5.122274%;
}

.banner-text .description {
  display: none;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 11px;
  color: #bababa;
}

.banner-text .btn .btn-transparent {
  margin-top: 5.122274%;
  display: inline-block;
  border: 2px #fff solid;
  text-align: center;
}

.btn a, .btn button {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.btn-transparent a, .btn-transparent button {
  background: transparent;
  border: none;
  display: inline-block;
  color: #fff;
  padding: 0 30px;
  line-height: 40px;
}

.btn-transparent:hover a, .btn-transparent:hover button {
  color: #000;
}

.btn-transparent:hover {
  background: #fff;
  color: #000;
}

.banner-form {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  transition: width 1s;
  text-align: center;
}

.banner-form .form-title {
  width: 100%;
  line-height: 55px;
  background: #f5f5f5;
  border-radius: 5px 5px 0 0;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
}

.form-title button {
  border: none;
  float: right;
  background: #ff8b38;
  cursor: pointer;
  border-radius: 0 0 0 3px;
}

.form-title button:hover {
  background: #f2700f;
}

.form-input .input-field {
  border-bottom: 1px #c5c5c5 solid;
  width: 90%;
  margin: auto;
}

.banner-form input {
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background: transparent;
  border: none;
  width: 90%;
  margin-top: 8.531111%;
}

.banner-form .form-input {
  background: #fff;
  padding-bottom: 2.5%;
}

.submit {
  background: #ff9b51;
  border-radius: 0 0 5px 5px;
}

.banner-form .submit input {
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 55px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  margin-top: 0;
}

/*top banner style ends */

/* Social Media style begins */

.social-media-wrapper, .sublist-wrapper, .customers-say-wrapper, .contact-us-wrapper {
  background-color: #fff;
}

.social-media-text {
  display: block;
  margin: 10px 0;
}

.social-media-text .social-media-title {
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.social-media-text p {
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  color: #86878b;
}

.social-media-up {
  display: none;
  float: right;
  cursor: pointer;
}

.social-media-down {
  float: right;
  cursor: pointer;
}

.social-media-up:hover .drop-icon {
  fill: #ff8b38;
}

.social-media-down:hover .drop-icon, .social-media ul li:hover .svg {
  fill: #ff8b38;
}

.social-media ul {
  width: 90%;
  margin: auto;
  line-height: 7.220216%;
  box-sizing: border-box;
  margin: 10px auto;
}

#socialMedia li {
  display: none;
}

.social-media ul li {
  width: 6%;
  float: left;
  margin-left: 7.257971%;
}

.social-media ul li .svg {
  fill: #cccccc;
}

/* Social Media style ends */

/* Tabs style begins */

.tabs-wrapper, .standard-picture-wrapper, .pricing-option-wrapper {
  background-color: #f5f5f5;
}

.tabs ul {
  width: 100%;
  margin-top: 15px;
}

.tabs ul li {
  text-align: center;
  float: left;
  width: 32.333333%;
  line-height: 50px;
  background-color: #333333;
  margin-left: 1px;
}

.tabs ul li:first-child {
  border-radius: 5px 0 0 5px;
}

.tabs ul li:last-child {
  border-radius: 0 5px 5px 0;
}

.tabs ul li.active, .tabs ul li:hover {
  background-color: #ff8b38;
}

.tabs ul li a {
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
}

.tabs .tab-description-wrapper {
  width: 100%;
  overflow: hidden;
}

.tab-description-wrapper .tab-description-text {
  width: 100%;
}

.tab-slider-container {
  overflow: hidden;
}

.tab-description-text .tab-description-title {
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.tab-description {
  float: left;
  margin: 0 auto;
}

.tab-description-text .tab-description-body p {
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #86878b;
}

.tab-image.mobile {
  display: block;
  width: 100%;
}

.tab-image.mobile img {
  margin-top: 20px;
}

.tab-image {
  display: none;
}

.tab-description-text .btn .btn-filled {
  display: inline-block;
  text-align: center;
  background: #ff8b38;
  border-radius: 5px;
}

.tab-description-text .btn .btn-filled a {
  display: inline-block;
  color: #fff;
  padding: 0 30px;
  line-height: 45px;
}

.tab-description-text .btn .btn-filled:hover a, .submit:hover input {
  background-color: #f2700f;
  border-radius: inherit;
}

/* Tabs style Ends */

/* sublist section style begins */

.sublist-image, .standard-picture-image, .sublist-detail, .sublist-info, .sublist-info .image img {
  width: 98%;
  margin: 0 auto;
}

.sublist-detail p, .standard-picture-details p {
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #86878b;
  margin-top: 15px;
}

.sublist-info-wrapper {
  width: 100%;
}

.sublist-info-title {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.sublist-title, .standard-picture-title {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.sublist-title::after, .standard-picture-title::after {
  content: "";
  display: block;
  border-bottom: 2px #ff8b38 solid;
}

.sublist-info .image {
  width: 13%;
  padding: 10px;
  margin-top: 8px;
  float: left;
}

.sublist-info-detail {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 15px;
}

.sublist-info .info {
  width: 80%;
  float: right;
  margin-top: 15px;
}

.sublist-title::after, .standard-picture-title::after {
  width: 24%;
  margin-top: 15px;
}

.sublist-detail p, .standard-picture-details p, .sublist-info {
  margin-top: 15px;
}

/* sublist section style ends */

/* why we awesome style begins */

.this-awesome-title, .pricing-option-title, .customers-say-title, .contact-us-title {
  display: block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.this-awesome-subtitle, .pricing-option-subtitle, .customers-say-subtitle, .contact-us-subtitle {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #86878b;
}

.this-awesome-title::after, .pricing-option-title::after, .customers-say-title::after, .contact-us-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 2px #ff8b38 solid;
  width: 20%;
  margin-top: 2.123456%;
  margin-bottom: 2.123456%;
}

.this-awesome-bottom-display {
  width: 100%;
  margin-top: 7.220216%;
}

.this-awesome-bottom-display .topic {
  display: block;
  text-align: center;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  text-transform: capitalize;
}

.this-awesome-bottom-display p {
  text-align: center;
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  margin-top: 20px;
  color: #86878b;
}

.this-awesome-bottom-display .image {
  margin: 0 auto;
  width: 20%;
}

/* why we awesome style ends */

/* pricing option styles begins*/

.prices-wrapper {
  margin-top: 7.220216%;
  margin-right: 6px;
  margin-left: 7px;
}

.prices-wrapper ul li {
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border-bottom: 1px #f5f5f5 solid;
  text-transform: uppercase;
  color: #86878b;
}

.amount {
  display: block;
  text-align: center;
  background-color: #333;
  color: #fff;
}

.prices .topic {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  background-color: #333;
  margin-bottom: 2px;
}

.amount .dollar {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.amount .figure {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 94px;
}

.membership {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  text-transform: capitalize;
  background-color: #333;
  color: #86878b;
  font-style: italic;
}

.extra {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
}

/* pricing option styles ends*/

/* What our customer says style begins*/

.customers-review-wrapper {
  margin-top: 5.054151%;
}

.customers-review {
  width: 100%;
  background-image: url("../assets/customer_say_bcg.png");
  background-repeat: no-repeat;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.customers-review p {
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  color: #86878b;
  padding: 8px;
  width: 250px;
}

.customers-say-bottom {
  width: 280px;
  margin: 0 auto;
}

.customer {
  width: 100%;
  margin-left: 20px;
}

.customer img {
  width: 25%;
  border-radius: 50%;
  float: left;
}

.customer-detail {
  float: right;
  width: 72%;
  margin-top: 12px;
}

.customer-detail .name {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}

.customer-detail .post {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 5px;
  color: #86878b;
}

/* What our customer says style ends*/

/* contact us style begins */

.contact-us-form {
  display: inline-block;
  text-align: center;
  border: 2px #d6d6d6 solid;
  border-radius: 10px;
  margin-top: 10px;
}

.form-input-text input, .form-input-textarea textarea {
  width: 90%;
  border: none;
  border-bottom: 2px #d6d6d6 solid;
  background: transparent;
  padding: 5px 10px;
  margin: 9.5px auto;
  resize: none;
  font-family: "Opensans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.submit-form input[type=submit] {
  border: none;
  background-color: #ff9b51;
  color: #fff;
  margin-bottom: 10px;
  line-height: 38px;
  border-radius: 5px;
  padding: 0 25px;
  cursor: pointer;
}

.submit-form input:hover {
  background-color: #f2700f;
  border-radius: 5px;
}

/* contact us style ends */

/* footer style begins */

.footer {
  padding: 10px 0;
  text-align: center;
}

.footer, .footer a {
  color: #808080;
}

.footer a:hover {
  color: #f2700f;
}

.copy-right {
  font-family: "Opensans", sans-serif;
  font-size: 8px;
  font-weight: 400;
  margin-top: 10px;
}

/* footer style ends */

@media (min-width: 480px) {

  .top-header ul li:last-child {
    padding-right: 0;
  }
}