/* header css begins*/

.header, .footer-wrapper {
  background-color: #000;
}

.top-header ul li, .dropdown-menu {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  width: 98px;
  text-align: center;
  text-transform: capitalize;
}

.dropdown-menu {
  padding-right: 0;
}

.top-header ul li a:hover {
  color: #000;
  background: #ff8b38
}

.drop-down-svg {
  fill: #fff;
}

.drop-down-burger-menu:hover .drop-down-svg {
  fill: #ff8b38;
}

/* header css ends */

/* top banner css begins */

.banner-text h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
}

.banner-text .title::after {
  content: "";
  display: block;
  border-bottom: 1px white solid;
  width: 12.552346%;
  height: 2px;
  margin-top: 5.122274%;
}

.banner-text .description {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 11px;
  color: #bababa;
}

.btn a, .btn button {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.btn-transparent {
  display: inline-block;
  border: 2px #fff solid;
  text-align: center;
}

.btn-transparent a, .btn-transparent button {
  background: transparent;
  border: none;
  display: inline-block;
  color: #fff;
  padding: 0 30px;
  line-height: 40px;
}

.btn-transparent:hover {
  background: #fff;
  color: #000;
}

.btn-transparent:hover a, .btn-transparent:hover button {
  color: #000;
}

.banner-form .form-title {
  width: 100%;
  line-height: 55px;
  background: #f5f5f5;
  border-radius: 5px 5px 0 0;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
}

.banner-form input {
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background: transparent;
  border: none;
}

.banner-form .submit input {
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 55px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.submit {
  background: #ff9b51;
  border-radius: 0 0 5px 5px;
}

/* social media */

.social-media-wrapper, .sublist-wrapper, .customers-say-wrapper, .contact-us-wrapper {
  background-color: #fff;
}

.social-media-text .social-media-title {
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.social-media-text p {
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  color: #86878b;
}

.social-media ul li .svg {
  fill: #cccccc;
}

.social-media ul li:hover .svg {
  fill: #ff8b38;
}

.tabs-wrapper, .standard-picture-wrapper, .pricing-option-wrapper {
  background-color: #f5f5f5;
}

.tabs ul li.active, .tabs ul li:hover {
  background-color: #ff8b38;
}

.tab-description-text .tab-description-title {
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.tabs ul li a {
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
}

.tab-description-text .tab-description-body p {
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #86878b;
}

.tab-description-text .btn .btn-filled {
  display: inline-block;
  text-align: center;
  background: #ff8b38;
  border-radius: 5px;
}

.tab-description-text .btn .btn-filled:hover a, .submit:hover input {
  background-color: #f2700f;
  border-radius: inherit;
}

.submit-form input:hover {
  background-color: #f2700f;
  border-radius: 5px;
}

.sublist-info-title {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.sublist-title, .standard-picture-title {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.sublist-title::after, .standard-picture-title::after {
  content: "";
  display: block;
  border-bottom: 2px #ff8b38 solid;
}

.sublist-info-detail {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 15px;
}

.this-awesome-title, .pricing-option-title, .customers-say-title, .contact-us-title {
  display: block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.this-awesome-subtitle, .pricing-option-subtitle, .customers-say-subtitle, .contact-us-subtitle {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #86878b;
}

.this-awesome-bottom-display .topic {
  display: block;
  text-align: center;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  text-transform: capitalize;
}

.this-awesome-bottom-display p {
  text-align: center;
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  margin-top: 20px;
  color: #86878b;
}

.prices .topic {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  background-color: #333;
  margin-bottom: 2px;
}

.amount .dollar {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.amount .figure {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 94px;
}

.membership {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  text-transform: capitalize;
  background-color: #333;
  color: #86878b;
  font-style: italic;
}

.extra {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
}

.prices-wrapper ul li {
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border-bottom: 1px #f5f5f5 solid;
  text-transform: uppercase;
  color: #86878b;
}

.customers-say-bottom {
  width: 280px;
  margin: 0 auto;
}

.customers-review-wrapper {
  margin-top: 5.054151%;
}

.customers-review p {
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  color: #86878b;
}

.customer-detail .name {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}

.customer-detail .post {
  display: block;
  font-family: "Opensans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 5px;
  color: #86878b;
}

@media (min-width: 480px) {
  .top-header ul li:last-child {
    padding-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .banner-text h2 {
    font-size: 24px;
  }
  .banner-form .form-title {
    width: 100%;
    line-height: 55px;
    background: #f5f5f5;
    border-radius: 5px 5px 0 0;
    font-family: "Opensans", sans-serif;
    font-weight: 700;
  }
  .banner-form input {
    font-family: "Opensans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: transparent;
    border: none;
  }
  .banner-text .title::after, .banner-text .description {
    margin-top: 5.317689%;
  }
  /* Tabs styles */
  .tab-description-text .tab-description-title {
    font-size: 20px;
  }
  .tab-description-text .tab-description-body p {
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 16px;
  }
  /* customer say */
  .customers-say-bottom {
    width: 100%;
  }
}

@media only screen and (min-width: 1108px) {
  /* banner */
  .banner-text .title {
    font-size: 36px;
    line-height: 45px;
  }
  .banner-text .description {
    font-size: 16px;
    line-height: 24px;
  }
  /* social media */
  .social-media-text .social-media-title {
    font-size: 20px;
  }
  .social-media-text p {
    font-size: 14px;
    line-height: 20px;
  }
  .tab-description-text .tab-description-body p {
    font-size: 14px;
  }
  .this-awesome-title, .pricing-option-title, .customers-say-title, .contact-us-title {
    font-size: 36px;
  }
}

/* common styles */

.text-emphasis {
  color: #ff8b38;
}

.emphasis {
  background-color: #ff8b38;
}

.emphasis:empty {
  height: 5px;
}

::placeholder {
  color: #8b8989;
}